.calendar-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}

.calendar-item-wrapper {
    display: flex;
    height: 200;
    width: 13.7%;
    min-height: 20%;
    padding-left: 10px;
}

.calendar-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: gray;
    border-top-style: solid;
    border-top-style: solid;
    border-width: 1;
    font-weight: 300;
    font-size: 15px;
}

.weekend {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-color: black;
    border-top-style: solid;
    border-top-style: solid;
    border-width: 1;
    background-color: rgb(246,246,246);
}

.calendar-week-header {
    display: flex;
    height: 25;
    width: 100%;
    color: gray;
}

.calendar-chooser-header {
    display: flex;
    height: 35px;
    width: 100%;
    color: red;
    justify-content: center;
    padding-top: 10px;
}

.calendar-event-wrapper {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    /* background-color: pink; */
}

.calendar-event-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* background-color: blue; */
    padding: 0 0 0 0;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
}

.event-date-number {
    text-align: left;
    font-weight: bolder !important;
}

.event-circle {
    margin-top: 5px;
    margin-right: 5px;
    height: 6px;
    width: 6px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.event-hour {
    align-self: flex-end;
    /* float: right; */
    width: 50px;
    height: 20px;
}